.serial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center columns horizontally */
    align-items: center;
    /* Center columns vertically */
    width: 100%;
}

.serialText {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    color: white;
}

.dropdown {
    align-items: center;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 90%;
    height: 40px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: black;
}

.dropdown option {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    color: black;
}

.refresh {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #AD88BE;
    width: 90%;
    height: 20px;
    border: none;
    display: flex;
    margin-top: 5px;
}

.check {
    color: #008F1F;
    font-size: 40px;
    background-color: #373737;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;


}

.column1 {
    flex-grow: 1;
    /* Allow it to take available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
}

.column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center content horizontally */
}

.layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 5px; */
}

.textInput {
    border-radius: 5px;
    background-color: #474747;
    width: 87%;    
    height: 39px;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    border: none;
    text-align: center;
    box-shadow: inset 0 0 5px #000000;
    /*    align-items: center;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 90%;
    height: 40px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: black; */
}

.number {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    background-color: #351A42;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.number:hover {
    background-color: #74398f;
}

.number.selected {
    background-color: #640092;
}

.refreshIcon {
    font-size: 20px;
    color: #000000;
}

.refreshText {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    color: black;
}

.macros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    margin-bottom: 5px; /* Adjust this value as needed */
}

.macrosTxt {
    width: 59px;
    height: 22px;
    left: 72px;
    top: 324px;
    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    margin-right: 15px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #363636;
    width: 40px;
    height: 40px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}

.icon:hover {
    background-color: #5c5c5c;
}

.file-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    margin-left: 12px;
    margin-bottom: 20px; /* Adjust this value as needed */

}

.file-option-button {
    background-color: #474747;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-option-button:hover {
    background-color: #5c5c5c;
}
